$dark: #1f1f1f;
$white: #f7f7f7;

// Media queries
$breakpoint: 768px;

body {
  background-color: $white;
  // height: 100vh;
}
.App {
  // height: 81vh;
}

.main-components {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.logo{
  position: fixed;
  bottom:1em;
  right: 1em;
  height: 2em;
  width: auto;
  z-index: 9999;
}

.wave {
  position: fixed;
  bottom: -10px;
  width: 100%;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@import "./competitions-list";
@import "./data-table";
